body {
  margin: 0 auto;
}

/*Typography*/
.navigation-section {
  background-color: #f8f8f8;
}
.title {
  font-size: 3.375rem;
  font-weight: 400;
  font-family: "Lora", serif;
  color: #143774;
  margin-bottom: 0;
}
.subtitle {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  color: #1792d2;
  text-transform: uppercase;
  margin: 0;
}
.navbar {
  font-size: 1rem;
}
a {
  color: #707070;
  font-weight: 700;
  text-decoration: none;
  padding: 0.25rem 0;
}
a:focus {
  color: black;
}
a:hover {
  color: black;
}

/*Layout*/
.navigation-section {
  text-align: center;
  padding: 2rem 0;
}

.navbar {
  text-transform: uppercase;
  text-align: center;
}
.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 2rem;
}

.current-state {
  border-bottom: 1px solid #707070;
}
.current-state:hover {
  color: #707070;
}
